<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="ngeniusonline" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>N-Genius: Network International Payment Gateway - 1.0.1</label>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>payment/ngeniusonline/active</config_path>
                </field>
                <field id="title" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                    <config_path>payment/ngeniusonline/title</config_path>
                    <validate>required-entry</validate>
                </field>
                <field id="environment" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0" >
                    <label>Environment</label>
                    <source_model>NetworkInternational\NGenius\Model\Config\Environment</source_model>
                    <config_path>payment/ngeniusonline/environment</config_path>
                </field>
                <field id="uat_api_url" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sandbox API URL</label>
                    <validate>required-entry</validate>
                    <config_path>payment/ngeniusonline/uat_api_url</config_path>
                </field>
                <field id="live_api_url" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Live API URL</label>
                    <validate>required-entry</validate>
                    <config_path>payment/ngeniusonline/live_api_url</config_path>
                </field>
                <field id="payment_action" translate="label" type="select" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="0" >
                    <label>Payment Action</label>
                    <source_model>NetworkInternational\NGenius\Model\Config\PaymentAction</source_model>
                    <config_path>payment/ngeniusonline/payment_action</config_path>
                </field>
                <field id="order_status" translate="label" type="select" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1" >
                    <label>Status of new order</label>
                    <source_model>NetworkInternational\NGenius\Model\Config\OrderStatus</source_model>
                    <config_path>payment/ngeniusonline/order_status</config_path>
                </field>
                <field id="outlet_ref" translate="label" type="text" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Outlet Reference ID</label>
                    <config_path>payment/ngeniusonline/outlet_ref</config_path>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="api_key" translate="label" type="text" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>API Key</label>
                    <config_path>payment/ngeniusonline/api_key</config_path>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="debug" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Debug</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>payment/ngeniusonline/debug</config_path>
                </field>
            </group>
        </section>
    </system>
</config>
